@import 'mixins';
@import 'variables';
@import 'functions';
@import 'smart-grid';

html{
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Tahoma', sans-serif;
  
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.container-fluid {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  @include container();
  max-width: 96rem;
  height: 100%;
}